 body{
    background-color: #ff0080e0;
 }
.pic{

    text-align: center;
     align-items: center;
}
#BGvideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.hed{
    color: rgb(89, 89, 245);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pen{
    color: #f8f8f8f5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgba(0, 0, 0, 0.381);  
}
#fbc{
   
        margin: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      
}
#gml{
   
    margin: 0;
    position: absolute;
    top: 38%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}
#inst{
   
    margin: 0;
    position: absolute;
    top: 48%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}
#snpt{
   
    margin: 0;
    position: absolute;
    top: 58%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}
#tok{
   
    margin: 0;
    position: absolute;
    top: 68%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}

.fb{
    background-color: #0004ff74;
    font-size: 24px;
    padding: 10px 33px;
    
    
}  
.ins{
    background-color: #ff008886;
    font-size:24px;
    padding: 10px 33px;

}
.gm{
    background-color: #eb030381;
    font-size: 24px;
    padding: 10px 49px;

}
.snp{
    background-color: #f2ff0066;
    font-size: 24px;
    padding: 5px 38px;

}
.tik{
    background-color: #00000078;
    font-size: 24px;
    padding: 8px 52px;
}
h2{
    color: white;
    size: 20px;
}
#perg{
    color:black;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 5%;
}
.htwo{
    color:rgb(255, 255, 255);
    margin: 0;
    position: absolute;
    top: 85%;
    left: 45.5%; 

}
#tbra{
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.tbraa {
    background-color: #00c8ff;
    font-size: 24px;
    padding: 5px 50px;

}